<!-- Codes by HTML.am -->
{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- HTML Code -->
<div class="title">Statistics</div>
<div class="container" id="profile-image">
	<br/><br/><br/>

	<p style="float: left;">
		<center><img src="{% static "images/giphy.gif" %}" class="circle"></p>
		<className> <br/>
			<div class="tname" style="font-size:24px">
		{{ name }}
	</div>
</className>
		<div style="clear: left;">
<center>

		</div>
		<div class="bottom">
		<FRNO style="font-size:20px">Friends : {{ frNo }} </FRNO>

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


		<FEED style="font-size:20px"> Feed: {{feed}} Post </FEED>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		<LPOST style="font-size:22px; color:DarkTurquoise"> Latest Post</LPOST>
			<br/>
			<br/>
			{% if LPost %}
		<img src="{% static "images/giphy.gif" %}" class="circle-image">
			<name style="font-size:18px"> {{name}} </name>

			<br/>
			<br/>

		<LastPost>
			{{LPost.message|linebreaks}}
		</LastPost>
		<LastPostDate style="font-style: italic;">
			{{LPost.created_date}}
		</LastPostDate>
		{% else %}
		<div class="alert alert-danger text-center" style="width:25%">
			<strong>Oops!</strong> You haven't post anything.
		</div>
		{% endif %}

		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

	</div>
	</div>

	{% endblock %}
