{% extends "base.html" %}

{% block content %}
<section name="form">
	<h2 style="color:DarkTurquoise">Friend List</h2>
	<form id="form" method="POST" action="{% url 'add-friend:add_friend' %}">
		{% csrf_token %}
		{{ Friend_form }}
		<br>
		<button type="submit" class="btn btn-lg btn-block btn-info" id="submit" style="float:left">Submit</button>
	</form>
</section>
<br/>
<hr/>

<table class="table">
	<thead>
		<th>Name</th>
		<th>Website</th>
		<th>Added on</th>
	</thead>
	<tbody>
		<!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
		{% for i in addfriend reversed %}
			<td> {{i.name}} </td>
			<td> <a href="{{i.website}}"> {{i.website}} </a> </td>
			<td> {{i.created_date}} </td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
