<style>
.expertise {
    background-color: DarkTurquoise;
    border-width: thin;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: inline-block;
}
</style>

{% extends 'base.html' %}
{% block content %}

<head>
    <meta name="description" content="Profile Page">
</head>
<h1 class="main-title" style="color:DarkTurquoise">Profile</h1>
{% for profilepage in profile %}
<div class="content-wrapper">
    <br/>
    <br/>
    <div class="profile-header" style = "text-align: center">
        <img class="img-circle" src="../static/giphy.gif" style="height:200px;widht:200px" align= "center">
        <h3>{{ profilepage.name }}</h3>
    </div>
    <br/>
    <br/>

<table border="0" align="center" style="text-align: left ;border:0px;" >
        <tr>
            <td> Birthday </td>
            <td style="padding-left:25px"; "padding-bottom: 10px"> {{ profilepage.birthday }}</td>
        </tr>

        <tr>
            <td> Gender </td>
            <td style="padding-left:25px"> {{ profilepage.gender }}</td>
        </tr>

        <tr>
            <td> Expertise </td>
            <td style="padding-left:25px">
                {% for expertise in profilepage.expertise.all %}
                     <div class="expertise" style="background-color:DarkTurquoise">
                    {{ expertise.name }}
                     </div>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td> Description </td>
            <td style="padding-left:25px"> {{ profilepage.description }} </td>
        </tr>

        <tr>
            <td> Email </td>
            <td style="padding-left:25px"> {{ profilepage.email }} </td>
        </tr>

</table>
<br><br>
</div>
{% endfor %}
{% endblock %}
