/*body{
margin-top: 70px;
}*/

/* Custom navbar style */
/*.navbar-static-top {
margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
cursor: pointer;
}*/

/* Textarea not resizeable */
textarea {
  resize:none
}
section{
  min-height: 200px;
  width: 100%;
}
strong{
  font-size: large;
}

.container {
  margin: auto;
  width: 65%;
}

.circle-image {
  border: 2px solid #ccc;
  border-radius:  50%;
  height:75px;
  width:75px;
}
/*.containerheader {
margin: auto;
width: 80%;
}*/

#input-list form > .status-form-input, #input-list form > .status-form-textarea{
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

#submit{
  width: 80px;
  height: 40px;
  float: right;
  background-color: DarkTurquoise;
}

hr{
  width:auto;
  border: 0.5px solid #1569C7;
}

.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.status-date-added {
  font-size: 12px;
  padding-left: 80px;
  font-style: italic;
}

.status-message {
  font-size: 16px;
  padding-left: 80px;
}

#statusorang{
  padding-left: 64px;
}

#tanggal{
  padding-left: 64px;
}

footer p{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: lighter;
  bottom: 0;
  width: 100%;
}

/*#futer{
background-color: lightgrey;
}*/

#counter{
  padding-right: 20px;
}

@media only screen and (max-width: 480px){
  .flex-item{
    padding: 0 15px;
    width: 320px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}
