{% extends "base.html" %}
{% block content %}

<section name="input-list" id="input-list" style="min-height: 200px; width: 100%">
  <div class="container">
    <h2 style="color:DarkTurquoise">Update Status</h2>
    <form id="status_form" method="POST" action="{% url 'update-status:add_status' %}">
      {% csrf_token %}
      {{ status_form }}
      <br/>
      <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Post">
      <br/>
      <br/>
      <br/>
    </form>
  </div>
</section>
<section name="status_table" id="status_table" style="min-height: 200px; width: 100%">
  <div class="container">
    <div class="flex">
      {% if status %}
      {% for data in status reversed %}
      <div class="flex-item">
        <div class="status">
          <strong>
            <img src="../static/images/giphy.gif" class="circle-image" />
            {{author}}
          </strong>
          <div class="status-message">
            {{data.message|linebreaks}}
          </div>
          <div class="status-date-added">
            {{data.created_date}}
          </div>
          <hr/>
          <br/>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="alert alert-danger text-center">
        <strong>Oops!</strong> You haven't post anything.
      </div>
    {% endif %}
    </div>
  </div>
</section>
{% endblock %}
