
.container{
    margin-left: 500px;
    align-items: center;
    padding-right: 50px;
}

.title {
font-family:Arial;color:DarkTurquoise;font-size:40px;font-stretch:normal;text-decoration:none;text-transform:none;letter-spacing:0.1px;line-height:1.3px;;padding:6.5px;
}
body {
    background-color: black;
}
.circle{
	height: 150px;
	width: 150px;
	background-clip: content-box;
	border-radius: 50%;
}
.square{
    height: 70px;
    width: 70px;
}
.tname{
	font-family: Verdana
}
.bottom{
	font-family: Impact
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 30px;

}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/****************************
update_status.css
****************************/

textarea {
  resize:none
}
section{
  min-height: 200px;
  width: 100%;
}
strong{
  font-size: large;
}

.container {
  margin: auto;
  width: 65%;
}

.circle-image {
  border: 2px solid #ccc;
  border-radius:  50%;
  height:75px;
  width:75px;
}

#input-list form > .status-form-input, #input-list form > .status-form-textarea{
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

#submit{
  width: 80px;
  height: 40px;
  float: right;
  background-color: DarkTurquoise;
}

hr{
  width:auto;
  border: 0.5px solid #1569C7;
}

.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.status-date-added {
  font-size: 12px;
  padding-left: 80px;
  font-style: italic;
}

.status-message {
  font-size: 16px;
  padding-left: 80px;
}

#statusorang{
  padding-left: 64px;
}

#tanggal{
  padding-left: 64px;
}

footer p{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: lighter;
  bottom: 0;
  width: 100%;
}

#counter{
  padding-right: 20px;
}

@media only screen and (max-width: 480px){
  .flex-item{
    padding: 0 15px;
    width: 320px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

/****************************
profile_page.css
****************************/

.expertise {
    background-color: #e0e2e5;
    border-width: thin;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: inline-block;
}

td, th{
  padding-bottom: 15px;
}
